*
{
    text-decoration: none;
}
a:hover span
{
    background: #50c1d3;
    box-shadow: 0px 4px #36828e;

}
a:active span
{
    top: 4;
    box-shadow: 0px 0px #6b54d3;


}
body
{
    background: #ffffff;
}

#cabecera
{
    height: 10%;
    width: 100%;
    background: #4285f4;
    box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    position: relative;
}
#principal
{
    height: 90%;
}

#menu-lateral
{
    float: left;
    width:17%;
    height: 90%;
    margin-left: 0;


}

#contenido
{
    float: right;
    width: 80%;
    margin-top: 20px;

}
label
{
    display: inline-block;
    width  : 115px;
    text-align: right;
}
label textarea
{
    vertical-align: middle;
}
fieldset
{
    border: .1em solid #86cbd8;
    padding: 1em;
    background: #ffffff;

}
form
{
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    max-width: 800px;
    padding: 20px;
}
form div
{
    margin: 1em;
}
.icono
{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
input,textarea,select
{
    background: #ececec;
    cursor: pointer;
    border-radius: .25em;
}
label
{
    cursor: pointer;
}
.lista
{
    padding: 0 10px 0 10px;
    float: left;
    position: relative;
    width: 96%;
    height: 35px;
    background: #4285f4;
    color: #ffffff;

    box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
    transition: background .3s ease;
    margin: 20px 0 0 0;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    line-height: 36px;
    text-align: center;
}
.lista:hover
{
    background: #424e93;


    box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 16px 0;

}
.menu
{
    padding: 0 10px 0 10px;
    float: left;
    position: relative;
    width: auto;
    height: 35px;
    background: #86cbd8;
    border-radius: 6px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    transition: background .5s ease;
    margin: 0 12px 12px 0;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    color: black;
    line-height: 36px;
    text-align: center;


}
.datos
{

    float: left;
    width: 16%;

}
.paginacion
{
    margin: 0 auto;
    text-align: center;
}

.paginacion a:hover
{
    background: #50c1d3;
}
.accordion-toggle,.accordion-content {
    cursor: pointer;

}
.accordion-content {
    display: none;
    height: 100px;
    margin-top: -35px;
   }
.accordion-content.default {display: block;}

.accordion-content .iconos,.accordion-toggle .iconos
{
    width: 130px;
    float: right;
}

/*custom fonts - Bitter, Montserrat*/
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
/*basic reset*/
* {margin: 0; padding: 0;}
body {
    background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
    background-size: cover;
}


/*nav styles*/
ul {
    background: white;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.5)  8px 8px 14px 0px ;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5)  8px 8px 14px 0px ;
    -moz-box-shadow: rgba(0, 0, 0, 0.5)  8px 8px 14px 0px ;

}

ul li {
    list-style-type: circle;
    /*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
    position: relative;
    overflow: hidden;
}
li:hover
{
    -webkit-box-shadow: 6px 0px 29px 0px rgba(57, 50, 50, 0.75);
    -moz-box-shadow:    6px 0px 29px 0px rgba(57, 50, 50, 0.75);
    box-shadow:         6px 0px 29px 0px rgba(57, 50, 50, 0.75);
}
ul li a {
    color: #283593;
    font: normal 14px/28px Montserrat;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer; /*since the links are dummy without href values*/
    /*prevent text selection*/
    user-select: none;
    /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
    position: relative;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
    display: block; position: absolute;
    background: hsl(180, 40%, 80%);
    border-radius: 100%;
    transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2.5);}
}
